*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5Aed;
  color: white;
  width: 100%;

}

.world{
  padding: 20px 5px;
}

/*===================================================*/

.container{
  display: flex;
  justify-content: center;
}

main{
  display: flex;
  justify-content: center;
  width: 90%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card{
  display: flex;
  align-items: center;
  height: 250px;
}

.card img{
  padding-right: 20px;
}

.image{
  height: 70%;
  width: 140px;
  object-fit:cover;
  border-radius:5px;
  padding-right: 5px;
}

.location{
  display: flex;
  align-items: center;
}

.pad{
  padding: 5px;
}

.city{
  word-spacing: 30px;
}

hr{

}

.link{
  color: grey;
  text-decoration: underline;
  font-size: .8rem;
}

/*===================================================*/
  
h1{
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #2B283A;
}

small{
  font-weight: bold;
  font-size: .7rem;
}

.descripition{
font-size: .8rem;
}

i{
  color: white;
}

.fa-location-dot{
  color: #F55A5Aed;
}